*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.logo-normal{
    display: none;
}
.logo{
    width: 8%;
    margin-left: 10px;
}
.centraliza-logo{
    display: flex;
    /* margin-top: 10px; */
    justify-content: space-between;
    align-items: center;
}
nav ul{display: none;
    margin-top: 0px;
    background-color:rgb(170, 92, 163);
}
nav ul li{border-bottom:1px solid black;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}
nav ul li:hover{
    background-color:rgb(144, 71, 138);
}
#menu{
    display: none;
}
#menu:checked ~ nav ul{
    display: block;
}
.menu{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color:rgb(170, 92, 163);
}
/* imagen fundo */
.imagem-fundo{
    background-image: url(../img/pexels-lisa-fotios-918327.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
}
.imagem-fundo h2{border: 1px solid rgb(189, 189, 189);
    color: white;
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
    width: 150px;
    padding: 5px;
}
/* quem somos */
.quem-somos{
    margin: 10px;
}
.quem-somos h3{
    margin-bottom:5px;
    text-align: center;
    color: rgb(97, 96, 96);
    font-weight: bold;
}
.quem-somos p{
    margin-bottom:5px;
    text-align: center;
    color: rgb(170, 168, 168);
}
.quem-somos img{
    width: 100%;
}
/* produtos */
.produtos{
    margin: 10px;
}
.produtos h3{
    margin-bottom:5px;
    text-align: center;
    color: rgb(97, 96, 96);
    font-weight: bold;
}
.produtos p{
    margin-bottom:5px;
    text-align: center;
    color: rgb(170, 168, 168);
}
.produtos img{
    width: 100%;
}
.produtos #produto1{
    margin-bottom: 10px;
}
.produtos #produto1{
    margin-bottom: 10px;
}
/* CONTATOS */

.contatos h3{
    margin-bottom:5px;
    text-align: center;
    color: rgb(97, 96, 96);
    font-weight: bold;  
}
.redes-socias{
    display: flex;
    justify-content: center;
}
.contatos .redes-socias i{
    font-size: 2rem;
    margin: 5px 10px;
    color: rgb(144, 71, 138);
}
/* rodape */
footer{
    background-color:rgb(170, 92, 163);
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 1em;
    margin-top: 10px;
}
footer a{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
/* desktop */
@media only screen and (min-width: 768px){
    
    .logo{
        display: none;
    }
    .menu{
        display: none;
    }
    .container{
        width: 70%;
        margin: 0 auto;
    }
    nav ul{
        background: url(../img/logo.png) no-repeat;
        background-size: 5%;
        background-position: 10px;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0%;
        background-color: #fff;
    }
    nav ul li{
        width: 110px;
        list-style: none;
        display: flex;
        /* margin-right:7px; */
        line-height: 3rem;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 1.2rem;
        color: rgb(170, 92, 163);
        cursor: pointer;
    }
    nav ul li a:hover{
        text-decoration: none;
        font-size: 1.2rem;
        color: rgb(243, 243, 243);
        cursor: pointer;
    }
    .imagem-fundo{
        background-image: url(../img/pexels-lisa-fotios-918327.jpg);
        width: 100%;
        height: 350px;
        position: relative;
    }
    .imagem-fundo h2{border: 1px solid rgb(189, 189, 189);
        color: white;
        position: absolute;
        text-align: center;
        top: 80px;
        left: 120px;
        /* width: 150px; */
        padding: 15px;
    }
    /* quem somos */
    .quem-somos{
        display: flex;
        margin: 10px 0;
        border-bottom: 1px solid rgb(204, 203, 203);
    }
    .quem-somos .texto{
        margin: 15px;
        color: rgb(97, 96, 96);
    }
    .quem-somos img{
        width: 40%;
        margin-bottom: 10px;
    }

    /* produtos */
    .produtos{
        margin: 10px 0px;
    }
    .produtos h3{
        margin: 5px;
    }
    #produtos{
        display: flex;
        justify-content: space-around;
    }
    #produtos img{
        width: 350px;
    }
    #produtos p{
        width: 350px;
    }
    footer{
        margin-top: 15px;
    }
    footer a{
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
    }
}